* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('fonts/SegoeUI-Light.eot');
    src: local('fonts/Segoe UI Light'), local('fonts/SegoeUI-Light'), url('fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), url('fonts/SegoeUI-Light.woff') format('woff'), url('fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'), url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('SegoeUI-SemiBold.woff') format('woff'), url('SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MRSEAVEI';
    src: url('fonts/MRSEAVEI.eot');
    src: local('☺'), url('fonts/MRSEAVEI.woff') format('woff'), url('fonts/MRSEAVEI.ttf') format('truetype'), url('fonts/MRSEAVEI.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Universe';
    src: url('fonts/UniversCE45Light.woff');
    font-weight: 300;
    font-style: normal;
}

.website {
    margin: 0 auto;
}

.head {
    display: flex;
    overflow: hidden;
}

.header {
    background: url('img/bg.png') no-repeat center top / 100% 2466px;
}

.logo {
    opacity: 0.68;
    color: #ffffff;
    line-height: 82px;
    font-family: "MRSEAVEI";
    font-size: 119px;
    margin: 56px 189px 0 219px
}

.logo._footer {
    margin: 66px 141px 0 44px
}

.top-menu {
    display: flex;
    justify-content: space-between;
    margin: 48px 0 0 -9px;
    width: 476px;
    height: 19px;
}

.top-menu__item {
    text-decoration-line: none;
    color: #FFFFFF;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
}

.slider {
    display: flex;
    align-items: center;
    margin: -10px 52px 0px 55px;
}

.slider__left {
    width: 50px;
    height: 50px;
    background: url(img/slidel.png) no-repeat;
    cursor: pointer;
    border: 0;
}

.slider__img {
    width: 339px;
    height: 329px;
    background: url(img/coffee.png) no-repeat;
    margin: 68px 0px -42px 132px;
}

.slider__text {
    display: block;
    margin: 45px 0px 0px 68px;
}

.context__title._h1 {
    font-family: "Segoe WP";
    font-weight: 600;
    font-size: 65px;
    color: #ffffff;
    line-height: 65px;
    margin: 20px 0 0 0px;
}

.context__title._h2 {
    font-family: "Segoe WP";
    font-weight: 300;
    font-size: 45px;
    color: #ffffff;
}

.context__button {
    width: 138px;
    height: 38px;
    border: 4px solid rgba(0, 0, 0, 0.37);
    background-color: #12b367;
    border-color: #6598e6;
    opacity: 0.42;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 300;
    margin: 3px 0 0 0;
    border: 0;
}

.context__element {
    display: block;
    font-family: "Segoe WP";
    font-weight: 300;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
    line-height: 38px;
    text-decoration-line: none;
    margin: 28px 0 0 3px;
    width: 146px;
    height: 46px;
    background: url(img/slider__btn.png) no-repeat;
}

.slider__right {
    width: 50px;
    height: 50px;
    background: url(img/slider.png) no-repeat;
    cursor: pointer;
    border: 0;
    margin: 0 0 0 189px;
}

.tabs {
    display: block;
    background-color: #fff;
    padding: 67px 0px 22px 0px;
}

.tabs__menu {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255.5px;
    height: 300px;
}

.item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

.tabs__img._rsp {
    width: 135px;
    height: 160px;
    background: url(img/c1img.png) no-repeat;
    position: relative;
    margin: 24px 0 0 0
}

.tabs__img._rsp::after {
    content: '';
    background: url(img/c1icon.png) no-repeat;
    width: 53px;
    height: 76px;
    display: block;
    position: absolute;
    top: 40px;
    left: calc(50% - 27px);
}

.tabs__img._cmm {
    width: 135px;
    height: 160px;
    background: url(img/c2img.png) no-repeat;
    position: relative;
    margin: 24px 0 0 0
}

.tabs__img._cmm::after {
    content: '';
    background: url(img/c2icon.png) no-repeat;
    width: 64px;
    height: 69px;
    display: block;
    position: absolute;
    top: 44px;
    left: calc(50% - 28px);
}

.tabs__img._blg {
    width: 135px;
    height: 160px;
    background: url(img/c3img.png) no-repeat;
    position: relative;
    margin: 24px 0 0 0
}

.tabs__img._blg::after {
    content: '';
    background: url(img/c3icon.png) no-repeat;
    width: 88px;
    height: 88px;
    display: block;
    position: absolute;
    top: 34px;
    left: calc(50% - 43px);
}

.tabs__img._srh {
    width: 135px;
    height: 160px;
    background: url(img/c4img.png) no-repeat;
    position: relative;
    margin: 24px 0 0 0;
}

.tabs__img._srh::after {
    content: '';
    background: url(img/c4icon.png) no-repeat;
    width: 72px;
    height: 73px;
    display: block;
    position: absolute;
    top: 40px;
    left: calc(50% - 34px);
}

.tabs__text {
    color: #5c5b5b;
    font-family: "Segoe WP";
    font-size: 27px;
    font-weight: 300;
    margin: 22px auto;
    text-align: center;
}

.content__img {
    display: block;
    width: 733px;
    height: 350px;
    background: url(img/ipad.png) no-repeat;
    margin: 55px auto 0px;
}

.content__text {
    margin: 28px auto 68px;
    width: 897px;
    height: 229px;
}

.content__title._h3 {
    color: #4f4f4f;
    font-family: "Segoe WPN";
    font-size: 39px;
    font-weight: 300;
    margin-left: 189px;
}

.content__paragraph._size14 {
    color: #818181;
    font-family: "Universe";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.example {
    display: flex;
    justify-content: center;
    margin: 22px 0 0 0;
}

.example__img {
    width: 486px;
    height: 338px;
    margin-left: 87px;
}

.example__adv {
    margin-left: 38px;
}

.example__title {
    color: #4f4f4f;
    font-family: "Segoe WP";
    font-size: 33px;
    line-height: 33px;
    margin: 27px 0px 27px 0px;
}

.list._chs {
    margin: 0;
}

.list {
    font-size: 16px;
    line-height: 38px;
    list-style-image: url(img/listdecor.png);
    color: #8a8888;
    font-family: "Universe";
}

.feedback {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.feedback__frame {
    width: 470px;
    height: 109px;
    background-color: #e67624;
    border-radius: 5px;
}

.formlogin__log {
    display: flex;
}

input[type="text"] {
    width: 155px;
    height: 26px;
    background-color: #e8e8e8;
    border: none;
}

input[type="password"] {
    width: 150px;
    height: 26px;
    background-color: #e8e8e8;
    border: none;
    margin: 0 0px 0 14px;
}

.feedback__element._enter {
    margin-left: 10px;
}

.feedback__element._title {
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 28px;
    line-height: 21px;
    font-weight: 300;
    padding: 15px 0px 0px 22px;
}

.feedback__window {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.feedback__button {
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 16px;
    font-weight: 300;
    width: 94px;
    height: 30px;
    background-color: #444444;
    border: 0;
    line-height: 28px;
}

.subscribe {
    width: 470px;
    height: 109px;
    background-color: #01d4f3;
    border-radius: 5px;
    margin-left: 66px;
}

.subscribe__element._title {
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
    margin: 15px 0 0px 27px;
}

.subscribe__email {
    display: flex;
    align-items: center;
}

.subscribe__element._frame {
    margin: 20px 49px 20px 29px;
}

input[type="textsubs"] {
    width: 265px;
    height: 26px;
    background-color: #e8e8e8;
    border: none;
    color: #4f4f4f;
    font-family: "Segoe WP";
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
}

.subscribe__button {
    width: 111px;
    height: 30px;
    background-color: #029bb1;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 16px;
    font-weight: 300;
    border: 0;
}

.footer {
   
    background: url(img/footerbg.png) no-repeat center top / 100% 243px;
    
}

.footer__window {
    display: flex;
}

.footer__block._about {
    margin: 34px 0 54px 175px;
}

.footer__block._us {
    margin: 34px 0 0 90px;
}

.footer__block._testimoanials {
    margin: 34px 0 0 86px;
}

.footer__title {
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
}

.footer__element._h4w {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.footer__element._h4 {
    display: block;
    width: 101px;
    margin-top: 17px;
}

.footer__navigation {
    display: flex;
    align-items: center;
}

.footer__button._arrl {
    background: url(img/footer_leftimg.png);
    opacity: 0.22;
    height: 16px;
    width: 16px;
    margin: 3px 0px 0px 67px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.footer__button._arrr {
    background: url(img/footer__rightimg.png);
    opacity: 0.22;
    height: 16px;
    width: 16px;
    margin: 3px 0px 0px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.footer__element._h4w {
    display: block;
    width: 316px;
    height: 79px;
    margin-top: 17px;
}

.footer__testimoanials._h4w2 {
    width: 141px;
    height: 35px;
    display: block;
    opacity: 0.66;
    color: #ffffff;
    font-family: "Arial - Bold MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 11px;
}

.footer__copyright {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin: 24px 0 0 40px;
}

.footer a {
    text-decoration: none;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    display: block;
}
.container {
    width: 1280px;
    margin: 0 auto;
}